/* Styles pour le conteneur du formulaire */
.login-container {
    width: 300px;
    margin: 0 auto;
}

/* Styles pour le formulaire */
.login-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

/* Styles pour les libellés et les champs de saisie */
.login-form .form-group {
    margin-bottom: 15px;
}
.login-form label {
    display: block;
    margin-bottom: 5px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Pour inclure le padding dans la largeur */
}

/* Styles pour le bouton de soumission */
.login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.inscription {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
